h1 {
    text-align: center;
}
table { 
    border: silver solid 1px; 
    width: 100%;
    max-width: 600px;
    margin: auto;
}
table tr:first-child {
    font-weight: bold;
    background-color: #ccccff;
}
table tr:nth-child(odd) {
    background-color: #eeeeff;
}
.mentors {
    text-align: center;
    margin: 20px;
}